.footer-restohub {
  background-color: #bb5304;
  color: #000;
  padding: 1rem 110px !important;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
}

.footer-restohub span {
  white-space: nowrap;
}