@import "components/navbar";
@import "components/footer";
@import "components/home";
@import "components/devise";
@import "restaurants";
@import "components/profile";

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  background-color: #000000;
  color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.page-container {
  max-width: 1080px;
  padding: 0 20px;
  margin: 0 auto;
}

.min-vh-75 {
  min-height: 75vh;
}