name: Security Scan

on:
  - push

jobs:
  brakeman:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.3.4'
          bundler-cache: true

      - name: Install dependencies
        run: bundle install --jobs 4 --retry 3

      - name: Run Brakeman
        run: bundle exec brakeman -q -o tmp/brakeman.html

      - name: Upload Brakeman report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: brakeman-report
          path: tmp/brakeman.html